01_notebooks/*.ipynb
01_notebooks/jupiter_mass_instability_Delta_6.00.sa
01_notebooks/jupiter_mass_instability_Delta_7.00.sa
01_notebooks/jupiter_mass_instability.sa
01_notebooks/test_sim.sa
01_notebooks/Untitled.ipynb
01_notebooks/Untitled1.ipynb
01_notebooks/.ipynb_checkpoints/5Neptunes-checkpoint.ipynb
01_notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
01_notebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
02_figures/neptune_later.png
02_figures/neptune_setup.png
02_figures/scattering_neptunes_w_line.png
02_figures/scattering_neptunes.png
01_notebooks/jupiter_ejecting_stuff.png
00_code/__pycache__/five_neptunes.cpython-311.pyc
